/* ------ Generic ------ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.gallery {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(31, 31, 58);
    font-family: Helvetica, sans-serif;
}

/* ------ Gallery Container ------ */

.gallery__container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 1em;
}

/* ------ Gallery Items ------ */

.gallery__item {
    background-color: teal;
}

.gallery__item--a {
    grid-area: 1 / 1 / 4 / 5;
}

.gallery__item--b {
    grid-area: 1 / 5 / 7 / 9;
}

.gallery__item--c {
    grid-area: 1 / 9 / 3 / 13;
}

.gallery__item--d {
    grid-area: 3 / 9 / 5 / 13;
}

.gallery__item--e {
    grid-area: 4 / 1 / 7 / 5;
}

.gallery__item--f {
    grid-area: 5 / 9 / 7 / 13;
}

.gallery__item--g {
    grid-area: 7 / 1 / 11 / 5;
}

.gallery__item--h {
    grid-area: 7 / 5 / 9 / 7;
}

.gallery__item--i {
    grid-area: 7 / 7 / 11 / 11;
}

.gallery__item--j {
    grid-area: 7 / 11 / 11 / 13;

}

.gallery__item--k {
    grid-area: 9 / 5 / 11 / 7;
}

.gallery__item--l {
    grid-area: 11 / 1 / 13 / 13;
    display: flex;
    align-items: center;
    position: relative;
}

.gallery__item--top {
    margin-top: 1em;
}

.gallery__item--left {
    margin-left: 1em;
}

.gallery__item--right {
    margin-right: 1em;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------ Heading ------ */

.gallery__heading {
    position: absolute;
    left: .3em;
    font-size: 3em;
    color: rgb(213, 248, 252);
}